$dark-theme-base: #0a090a;
$dark-theme-text-primary: #d4d4d6;

$default-flex-size: 1;

$fonts: Helvetica, Arial, sans-serif;

@mixin reset-padding() {
  margin: 0;
  padding: 0;
}

html, body {
  @include reset-padding();
}

.nav {
  font-family: $fonts;
  font-weight: 300;
  width: 100vw;
  height: 50px;
  position: fixed;
  top: 0;
  background-color: $dark-theme-base;
}

.title {
  @include reset-padding();
}

.desktopMenu {
  display: none;
}

.menu {
  @include reset-padding();
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  z-index: 1;
  height: 250px;
  width: 100vw;
  transition:
    transform 0.5s cubic-bezier(0.51, 0.1, 0.11, 0.97);
  background-color: $dark-theme-base;
}

.menuItem {
  font-size: 1.5em;
  text-decoration: none;
  flex-grow: 1;
  text-align: center;
}

.navListItems {
  color: $dark-theme-text-primary;
  list-style: none;
}

.about {
  height: 400px;
  background-color: green;
}

.hamburger {
  position: absolute;
  z-index: 2;
  right: 10px;
  top: 12px;
  height: 25px;
}


// desktop display
@media (min-width: 600px) {

  .hamburger {
    display: none;
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mobile {
    display: none;
  }

  .menu {
    display: none;
  }

  .desktopMenu {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
  }

}
