$dark-theme-base: #51586b;
$dark-theme-text-primary: #c7cfe2;

$default-flex-size: 1;

$fonts: Helvetica, Arial, sans-serif;

@mixin reset-padding() {
  margin: 0;
  padding: 0;
}

html, body {
  @include reset-padding();
}

.nav {
  font-family: $fonts;
  width: 100vw;
  height: 50px;
  background-color: $dark-theme-base;
  display: flex;
}

.title {
  @include reset-padding();
  flex-grow: 2;
}

.menu {
  z-index: 1;
  transition: 0.5s;
  width: 0;
  background-color: $dark-theme-base;
}

.menuItem {
  flex-grow: 1;
}

.about {
  height: 400px;
  background-color: green;
}

.hamburger {
  display: block;
  height: 30px;
  padding: 10px;
}

.nav-links {
  color: $dark-theme-text-primary;
  text-decoration: none;
  list-style: none;
}

// desktop displayName
@media (min-width: 600px) {

  .hamburger {
    display: none;
  }

  .menu {
    @include reset-padding();
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}
